img {
  display: block;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2e2f42;
  --extra-color: #434455;
}

body {
  background-color: white;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
}

.container-header {
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  display: flex;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.list-header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.list-item {
  margin-right: 40px;
}

.list-item:last-child {
  margin-right: 0;
}

.list-header .list-item :not(:last-child) {
  margin-right: 40px;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;

  color: var(--main-color);
}

.adress {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.list-adress {
  display: flex;
  gap: 40px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.logo-header {
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-span {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
}
/* contacts */

.contact {
  color: var(--extra-color);
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* hero */

.hero-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;

  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  display: block;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section 2 */

.svg-second-section {
  width: 64px;
  height: 64px;

  background-color: #f4f4fd;
}

.div-second-section {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.section-second {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-second h3 {
  margin-bottom: 8px;
}

.item-second-section {
  width: calc((100% - 72px) / 4);
}

.list-second-section {
  display: flex;
  gap: 24px;
  align-items: center;
}
.section-second-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.section-second-text {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--extra-color);
}

/* section 3 */
.container-third-section {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 120px;
}

.section-third {
  padding-bottom: 120px;
}

.item-second-third {
  margin-right: 24px;
}

.item-second-third:last-child {
  margin-right: 0;
}
.section-third .list {
  display: flex;
}
.section-third-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color);

  margin-bottom: 72px;
}

/* section 4 */

.second-four-svg {
  width: 16px;
  height: 16px;
}

.list-item-svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-svg-sec-fr {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 8px 16px 32px 16px;
}

.emp-nam {
  padding: 32px 16px 0 16px;
  border-radius: 0px 0px 4px 4px;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-four .list {
  display: flex;
}

.section-four-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 72px;
}

.section-four {
  background-color: #f4f4fd;
}

.section-four {
}
.name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 8px;
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--extra-color);

  text-align: center;
}
.list-section-four {
  background-color: #ffffff;

  margin-right: 24px;
}

.list-section-four:last-child {
  margin-right: 0;
}

/* Section 5  */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-svg-last {
  width: 94px;
}

.customers-svg-fife {
  width: 63px;
}

.customers-svg-four {
  width: 84px;
}

.customers-svg-three {
  width: 44px;
}

.customers-svg-two {
  width: 40px;
}

.customers-svg-one {
  width: 41px;
}

.item-customers {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-customers {
  display: flex;
  gap: 24px;
}

.section-fife {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* footer */

.footer-soc-lin {
  margin-left: 120px;
  padding-bottom: 32px;
}

.list-svg-footer{
gap: 16px;
display: flex;

}

.cont-footer{
display: flex;

}

.text-footer {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 0;
}
.footer {
  background: #2e2f42;
}

.footer {
  padding-top: 100px;

  padding-bottom: 100px;
}
.logo-span-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
}

.button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  border: none;
  border-radius: 4px;

  margin-right: auto;
  margin-left: auto;
}
.button-header {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;

  display: block;
  border: none;
  border-radius: 4px;
}

.button-portfolio {
  color: #4d5ae5;
  background: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}

.button-portfolio:hover,
.button-portfolio:focus {
  border: 1px solid transparent;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* Portfolio */
/* Стилизация полностью совпадает с Хедером осн. стран. */
/* section first */
/* section second */

.section-second-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.name-section-second-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.container-portfolio {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  padding-right: 15px;
  padding-left: 15px;
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.list-item-portfolio {
  flex-basis: calc(100% / 3 - 24px);
}

.list-item-portfolio:nth-child(n + 7) {
  margin-bottom: 0;
}

.list-item-portfolio:nth-child(3n + 3) {
  margin-right: 0;
}

.text-section-second-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--extra-color);
}

.info-port {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
